.ContactElement {
  display: flex;
  flex-direction: row;
  width: 300px;
  border: 1px solid #2a2a2a;
  border-radius: 6px;
  padding: 8px;
  gap: 8px;
}

.BtnDelete {
  background-color: #d8d2d2;
  color: rgb(12, 12, 12);
  border: 1px solid rgb(12, 12, 12);
  align-items: end;
  margin: 5px 0 5px auto;
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.BtnDelete:hover {
  background-color: hsl(235, 87%, 73%);
}
